<script async src="//cdn.embedly.com/widgets/platform.js" charset="utf-8"></script>
<div>
<div class="background-buff-brightest rounded-border-6">
  <blockquote class="embedly-card">
    <h4>
      <a href="http://www.lynda.com/AllCertificates/User/1521285">
        Official Certificates of Completion
      </a>
    </h4>
  </blockquote>
</div>
<div class="explanation-text">
<p class="strong"><a href="http://www.lynda.com/">Lynda.com</a> is a leading online learning company that helps anyone learn business, software, technology and creative skills to achieve personal and professional goals.</p>
<p>Through individual, corporate, academic and government subscriptions, members have access to the Lynda.com video library of engaging, top-quality courses taught by recognized industry experts.</p>
<p>The mission of Lynda.com is to help you learn the skills you need to achieve your full potential.</p>
</div>
</div>