<div class="message">
<a href="https://github.com/techgraphics">
  <img class="github-logo" 
    style="display: block; margin-left: -9pt; width: 143.438pt; height: 58.81pt;" 
    src="/assets/images/pages/about/GitHub_Logo.png" 
    alt="Contributor at GitHub">
  CONTRIBUTOR at GitHub
</a>
<div class="small-text">
<p class="strong">
GitHub is the best place to share code with friends, co-workers, classmates, and complete strangers. 
</p>
<p>
There are 9.7 million people collaborating right now across 23.3 million repositories on GitHub. Developers from all around the world are building amazing things together. 
</p>
</div>
</div>
