<div class="message">
<a href="http://aimia.com.au">
  <img class="aimia-logo" 
    style="display: block; margin-left: -9pt; width: 143.438pt; height: 76.875pt;" 
    src="/assets/images/pages/about/aimia-logo.jpg" 
    alt="Member of AIMIA">
  MEMBER of AIMIA
</a>
<div class="small-text">
<p class="strong">
AIMIA is the Digital Industry Association for Australia. Representing the digital content, services and applications industry in Australia since 1992.
</p>
<p>
Our membership includes Australia’s top digital power houses, digital content, services and applications companies, and major industry suppliers.
</p>
<p>
All of our members have a keen interest in how digital is transforming businesses and economies, because often they themselves are the change agents within their working environment. Whether you are a chief digital officer, web designer, project manager, programmer, media specialist, a digital business owner or a student, we believe being part of AIMIA will keep you thinking and inspired.
</p>
</div>
</div>
