{% assign categoryHash = site.skills | sort: 'categoryWeight'  %}

{% assign skillsHash = site.skills | sort: 'proficiency'  %}

{% for c in  categoryHash %}
{% if c.categoryLevel == 0 %}
<h4>{{ c.title }}</h4>
<p>{{ c.description }}</p>

<table class="box-shadow">
<caption class="main"><h5>Main</h5></caption>
<thead></thead>
<tfoot></tfoot>
<tbody class="small-text">
{% for someSkill in skillsHash %}
{% if someSkill.parentCategory == c.title %}
{% if someSkill.categoryLevel == 1 %}

<tr class="row-subcategory">
  <td class="data-title strong">{{ someSkill.title }}</td>
  <td class="data-proficiency-{{ someSkill.proficiency }}">
{% if someSkill.proficiency == 0 %}
<p>★★★★★</p>
<p>Expert</p>
{% elsif someSkill.proficiency == 1 %}
<p>★★★★</p>
<p>Advanced</p>
{% elsif someSkill.proficiency == 2 %}
<p>★★★</p>
<p>Intermediate</p>
{% elsif someSkill.proficiency == 3 %}
<p>★★</p>
<p>Basic</p>
{% elsif someSkill.proficiency == 4 %}
<p>★</p>
<p>Beginner</p>
{% else %}
<p>Unknown</p>
{% endif %}
</td>
<td class="data-tags">{% for someTag in someSkill.tags %}{{ someTag }}{% if forloop.last == false %}, {% endif %}{% endfor %}</td>
</tr>
<tr class="row-subcategory-description">
  <td colspan=3 class="data-description">{{ someSkill.description }}</td>
</tr>

{% endif %}
{% endif %}
{% endfor %}
</tbody>
</table>

<table class="box-shadow">
<caption class="main"><h5>Other aspects</h5></caption>
<thead></thead>
<tfoot></tfoot>
<tbody class="small-text">
{% for someSkill in skillsHash %}
{% if someSkill.parentCategory == c.title %}
{% if someSkill.categoryLevel == 2 %}

<tr class="row-subcategory">
  <td class="data-title strong">{{ someSkill.title }}</td>
  <td class="data-proficiency-{{ someSkill.proficiency }}">
{% if someSkill.proficiency == 0 %}
<p>★★★★★</p>
<p>Expert</p>
{% elsif someSkill.proficiency == 1 %}
<p>★★★★</p>
<p>Advanced</p>
{% elsif someSkill.proficiency == 2 %}
<p>★★★</p>
<p>Intermediate</p>
{% elsif someSkill.proficiency == 3 %}
<p>★★</p>
<p>Basic</p>
{% elsif someSkill.proficiency == 4 %}
<p>★</p>
<p>Beginner</p>
{% else %}
<p>Unknown</p>
{% endif %}
</td>
<td class="data-tags">{% for someTag in someSkill.tags %}{{ someTag }}{% if forloop.last == false %}, {% endif %}{% endfor %}</td>
</tr>
<tr class="row-subcategory-description">
  <td colspan=3 class="data-description">{{ someSkill.description }}</td>
</tr>

{% endif %}
{% endif %}
{% endfor %}
</tbody>
</table>


{% endif %}
{% endfor %}
