<h4 class="category-title">Category Title</h4>
<div class="category-description">Category Description</div>
<table class="box-shadow small-text">
<thead></thead>
<tfoot></tfoot>
<tbody>
  <tr class="row-subcategory">
    <td>Subcategory Title</td>
    <td>Subcategory Description blah blah blah blah rah rah rah rah</td>
    <td class="data-proficiency">Subcategory Proficiency</td>
    <td>Subcategory Tags</td>
  </tr>
  <tr class="row-subcategory">
    <td>Subcategory Title</td>
    <td>Subcategory Description blah blah blah blah rah rah rah rah</td>
    <td class="data-proficiency">Subcategory Proficiency</td>
    <td>Subcategory Tags</td>
  </tr>
  <tr class="row-aspect">
    <td>Aspect Title</td>
    <td>Aspect Description blah blah blah blah rah rah rah rah</td>
    <td class="data-proficiency">Aspect Proficiency</td>
    <td>Aspect Tags</td>
  </tr>
</tbody>
</table>

<h4 class="category-title">Category Title</h4>
<div class="category-description">Category Description</div>
<table class="box-shadow small-text">
<thead></thead>
<tfoot></tfoot>
<tbody>
  <tr class="row-subcategory">
    <td>Subcategory Title</td>
    <td>Subcategory Description blah blah blah blah rah rah rah rah</td>
    <td class="data-proficiency">Subcategory Proficiency</td>
    <td>Subcategory Tags</td>
  </tr>
  <tr class="row-subcategory">
    <td>Subcategory Title</td>
    <td>Subcategory Description blah blah blah blah rah rah rah rah</td>
    <td class="data-proficiency">Subcategory Proficiency</td>
    <td>Subcategory Tags</td>
  </tr>
  <tr class="row-aspect">
    <td>Aspect Title</td>
    <td>Aspect Description blah blah blah blah rah rah rah rah</td>
    <td class="data-proficiency">Aspect Proficiency</td>
    <td>Aspect Tags</td>
  </tr>
</tbody>
</table>

<h4 class="category-title">Category Title</h4>
<div class="category-description">Category Description</div>
<table class="box-shadow small-text">
<thead></thead>
<tfoot></tfoot>
<tbody>
  <tr class="row-subcategory">
    <td>Subcategory Title</td>
    <td>Subcategory Description blah blah blah blah rah rah rah rah</td>
    <td class="data-proficiency">Subcategory Proficiency</td>
    <td>Subcategory Tags</td>
  </tr>
  <tr class="row-subcategory">
    <td>Subcategory Title</td>
    <td>Subcategory Description blah blah blah blah rah rah rah rah</td>
    <td class="data-proficiency">Subcategory Proficiency</td>
    <td>Subcategory Tags</td>
  </tr>
  <tr class="row-aspect">
    <td>Aspect Title</td>
    <td>Aspect Description blah blah blah blah rah rah rah rah</td>
    <td class="data-proficiency">Aspect Proficiency</td>
    <td>Aspect Tags</td>
  </tr>
</tbody>
</table>

<h4 class="category-title">Category Title</h4>
<div class="category-description">Category Description</div>
<table class="box-shadow small-text">
<thead></thead>
<tfoot></tfoot>
<tbody>
  <tr class="row-subcategory">
    <td>Subcategory Title</td>
    <td>Subcategory Description blah blah blah blah rah rah rah rah</td>
    <td class="data-proficiency">Subcategory Proficiency</td>
    <td>Subcategory Tags</td>
  </tr>
  <tr class="row-subcategory">
    <td>Subcategory Title</td>
    <td>Subcategory Description blah blah blah blah rah rah rah rah</td>
    <td class="data-proficiency">Subcategory Proficiency</td>
    <td>Subcategory Tags</td>
  </tr>
  <tr class="row-aspect">
    <td>Aspect Title</td>
    <td>Aspect Description blah blah blah blah rah rah rah rah</td>
    <td class="data-proficiency">Aspect Proficiency</td>
    <td>Aspect Tags</td>
  </tr>
</tbody>
</table>

