{% assign categoryHash = site.skills | sort: 'categoryWeight'  %}

{% assign skillsHash = site.skills | sort: 'proficiency'  %}

{% for c in  categoryHash %}
{% if c.categoryLevel == 0 %}
<h4>{{ c.title }}</h4>
<p>{{ c.description }}</p>

<table class="box-shadow">
<caption class="main"><h5>Main</h5></caption>
<thead></thead>
<tfoot></tfoot>
<tbody class="small-text">
{% for someSkill in skillsHash %}
{% if someSkill.parentCategory == c.title %}
{% if someSkill.categoryLevel == 1 %}

<tr class="row-subcategory">
  <td class="data-title"><h6>{{ someSkill.title }}</h6></td>
<td class="data-tags">{% for someTag in someSkill.tags %}<i class="tag">{{ someTag }}</i>{% if forloop.last == false %} {% endif %}{% endfor %}</td>
<td class="data-proficiency-{{ someSkill.proficiency }}">
{% if someSkill.proficiency == 0 %}
<p class="proficiency-stars">★★★★★</p>
<p>Expert</p>
{% elsif someSkill.proficiency == 1 %}
<p class="proficiency-stars">★★★★<b class="text-white-20">★</b></p>
<p>Advanced</p>
{% elsif someSkill.proficiency == 2 %}
<p class="proficiency-stars">★★★<b class="text-white-20">★★</b></p>
<p>Intermediate</p>
{% elsif someSkill.proficiency == 3 %}
<p class="proficiency-stars">★★<b class="text-white-20">★★★</b></p>
<p>Basic</p>
{% elsif someSkill.proficiency == 4 %}
<p class="proficiency-stars">★<b class="text-white-20">★★★★</b></p>
<p>Beginner</p>
{% else %}
<p class="proficiency-stars"><b class="text-white-20">★★★★★</b></p>
<p>Unknown</p>
{% endif %}
</td>
</tr>
<tr class="row-subcategory-description">
  <td colspan=3 class="data-description">{{ someSkill.description }}</td>
</tr>

{% endif %}
{% endif %}
{% endfor %}
</tbody>
</table>

<table class="box-shadow">
<caption class="main"><h5>Other aspects</h5></caption>
<thead></thead>
<tfoot></tfoot>
<tbody class="small-text">
{% for someSkill in skillsHash %}
{% if someSkill.parentCategory == c.title %}
{% if someSkill.categoryLevel == 2 %}

<tr class="row-subcategory">
  <td class="data-title"><h6>{{ someSkill.title }}</h6></td>
<td class="data-tags">{% for someTag in someSkill.tags %}<i class="tag">{{ someTag }}</i>{% if forloop.last == false %} {% endif %}{% endfor %}</td>
<td class="data-proficiency-{{ someSkill.proficiency }}">
{% if someSkill.proficiency == 0 %}
<p class="proficiency-stars">★★★★★</p>
<p class="proficiency-stars">Expert</p>
{% elsif someSkill.proficiency == 1 %}
<p class="proficiency-stars">★★★★<b class="text-white-20">★</b></p>
<p>Advanced</p>
{% elsif someSkill.proficiency == 2 %}
<p class="proficiency-stars">★★★<b class="text-white-20">★★</b></p>
<p>Intermediate</p>
{% elsif someSkill.proficiency == 3 %}
<p class="proficiency-stars">★★<b class="text-white-20">★★★</b></p>
<p>Basic</p>
{% elsif someSkill.proficiency == 4 %}
<p class="proficiency-stars">★<b class="text-white-20">★★★★</b></p>
<p>Beginner</p>
{% else %}
<p class="proficiency-stars"><b class="text-white-20">★★★★★</b></p>
<p>Unknown</p>
{% endif %}
</td>
</tr>
<tr class="row-subcategory-description">
  <td colspan=3 class="data-description">{{ someSkill.description }}</td>
</tr>

{% endif %}
{% endif %}
{% endfor %}
</tbody>
</table>

{% include horizontal-rule.html %}

{% endif %}
{% endfor %}
