{% assign categoryHash = site.skills | where: "categoryLevel", 0 | sort: 'categoryWeight'  %}

{% for c in  categoryHash %}
<hr>
<h2>{{ c.title }}</h2>
<p class="message rounded-border-4">{{ c.description }}</p>

{% assign skillsMainHash = site.skills | where: "categoryLevel", 1 | where: "parentCategory",c.title | sort: 'proficiency'  %}

{% for someMainSkill in skillsMainHash %}

{% if forloop.first %}
<table class="box-shadow">
<caption class="main"><h5>Main</h5></caption>
<thead></thead>
<tfoot></tfoot>
<tbody class="small-text">
{% endif %}

<tr class="row-subcategory">
<td class="data-title"><h6>{{ someMainSkill.title }}</h6></td>
<td class="data-tags">{% for someTag in someMainSkill.tags %}<i class="tag">{{ someTag }}</i>{% if forloop.last == false %} {% endif %}{% endfor %}</td>
<td class="data-proficiency-{{ someMainSkill.proficiency }}">
{% if someMainSkill.proficiency == 0 %}
<p class="proficiency-stars"><b class="text-shadow-glow">★★★★★</b></p>
<p>Expert</p>
{% elsif someMainSkill.proficiency == 1 %}
<p class="proficiency-stars"><b class="text-shadow-glow">★★★★</b><b class="text-white-20">★</b></p>
<p>Advanced</p>
{% elsif someMainSkill.proficiency == 2 %}
<p class="proficiency-stars"><b class="text-shadow-glow">★★★</b><b class="text-white-20">★★</b></p>
<p>Intermediate</p>
{% elsif someMainSkill.proficiency == 3 %}
<p class="proficiency-stars"><b class="text-shadow-glow">★★</b><b class="text-white-20">★★★</b></p>
<p>Basic</p>
{% elsif someMainSkill.proficiency == 4 %}
<p class="proficiency-stars"><b class="text-shadow-glow">★</b><b class="text-white-20">★★★★</b></p>
<p>Beginner</p>
{% else %}
<p class="proficiency-stars"><b class="text-white-20">★★★★★</b></p>
<p>Unknown</p>
{% endif %}
</td>
</tr>

<tr class="row-subcategory-description">
<td colspan=3 class="data-description">{{ someMainSkill.description }}</td>
</tr>

{% if forloop.last %}
</tbody>
</table>
{% endif %}

{% endfor %}

{% assign skillsAspectHash = site.skills | where: "categoryLevel", 2 | where: "parentCategory",c.title | sort: 'proficiency'  %}

{% for someAspectSkill in skillsAspectHash %}

{% if forloop.first %}
<table class="box-shadow">
<caption class="main"><h5>Other aspects</h5></caption>
<thead></thead>
<tfoot></tfoot>
<tbody class="small-text">
{% endif %}
  
<tr class="row-subcategory">
<td class="data-title"><h6>{{ someAspectSkill.title }}</h6></td>
<td class="data-tags">{% for someTag in someAspectSkill.tags %}<i class="tag">{{ someTag }}</i>{% if forloop.last == false %} {% endif %}{% endfor %}</td>
<td class="data-proficiency-{{ someAspectSkill.proficiency }}">
{% if someAspectSkill.proficiency == 0 %}
<p class="proficiency-stars"><b class="text-shadow-glow">★★★★★</b></p>
<p>Expert</p>
{% elsif someAspectSkill.proficiency == 1 %}
<p class="proficiency-stars"><b class="text-shadow-glow">★★★★</b><b class="text-white-20">★</b></p>
<p>Advanced</p>
{% elsif someAspectSkill.proficiency == 2 %}
<p class="proficiency-stars"><b class="text-shadow-glow">★★★</b><b class="text-white-20">★★</b></p>
<p>Intermediate</p>
{% elsif someAspectSkill.proficiency == 3 %}
<p class="proficiency-stars"><b class="text-shadow-glow">★★</b><b class="text-white-20">★★★</b></p>
<p>Basic</p>
{% elsif someAspectSkill.proficiency == 4 %}
<p class="proficiency-stars"><b class="text-shadow-glow">★</b><b class="text-white-20">★★★★</b></p>
<p>Beginner</p>
{% else %}
<p class="proficiency-stars"><b class="text-white-20">★★★★★</b></p>
<p>Unknown</p>
{% endif %}
</td>
</tr>

<tr class="row-subcategory-description">
<td colspan=3 class="data-description">{{ someAspectSkill.description }}</td>
</tr>

{% if forloop.last %}
</tbody>
</table>
{% endif %}

{% endfor %}


{% endfor %}
