$site-title-timing: 3000ms;
#site-title-animation-intro {
  animation: 
    hold-the-front-page $site-title-timing linear both,
    txt-shadow-pump 2400ms infinite linear both; /* IE 10+, Fx 29+ */
}
$site-description-timing: 4500ms;
#site-description-animation-intro {
  animation: 
    hold-the-front-page $site-description-timing linear both; /* IE 10+, Fx 29+ */
}

$txt-shadow-color: rgba(255,255,255,0.7); 
@keyframes txt-shadow-pump {
    0% { text-shadow: 0 0 4px  $txt-shadow-color; }
   14% { text-shadow: 0 0 4px  $txt-shadow-color; }
   29% { text-shadow: 0 0 8px  $txt-shadow-color; }
   43% { text-shadow: 0 0 12px $txt-shadow-color; }
   57% { text-shadow: 0 0 16px $txt-shadow-color; }
   71% { text-shadow: 0 0 12px $txt-shadow-color; }
   86% { text-shadow: 0 0 8px  $txt-shadow-color; }
  100% { text-shadow: 0 0 4px  $txt-shadow-color; }
}

@keyframes hold-the-front-page {
  0.00% { transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 1024, 1, 1); }
  1.00% { transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 627.011, 1, 1); }
  2.00% { transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 309.526, 1, 1); }
  3.00% { transform: matrix3d(0.101, 0, 0, 0, 0, 0.101, 0, 0, 0, 0, 1, 0, 0, 98.412, 1, 1); }
  4.00% { transform: matrix3d(0.102, 0, 0, 0, 0, 0.102, 0, 0, 0, 0, 1, 0, 0, -18.022, 1, 1); }
  5.00% { transform: matrix3d(0.105, 0, 0, 0, 0, 0.105, 0, 0, 0, 0, 1, 0, 0, -66.119, 1, 1); }
  6.00% { transform: matrix3d(0.108, 0, 0, 0, 0, 0.108, 0, 0, 0, 0, 1, 0, 0, -72.904, 1, 1); }
  7.00% { transform: matrix3d(0.113, 0, 0, 0, 0, 0.113, 0, 0, 0, 0, 1, 0, 0, -59.687, 1, 1); }
  8.00% { transform: matrix3d(0.12, 0, 0, 0, 0, 0.12, 0, 0, 0, 0, 1, 0, 0, -40.463, 1, 1); }
  9.00% { transform: matrix3d(0.128, 0, 0, 0, 0, 0.128, 0, 0, 0, 0, 1, 0, 0, -22.837, 1, 1); }
  10.00% { transform: matrix3d(0.097, 0.099, 0, 0, -0.099, 0.097, 0, 0, 0, 0, 1, 0, 0, -9.856, 1, 1); }
  11.00% { transform: matrix3d(-0.001, 0.151, 0, 0, -0.151, -0.001, 0, 0, 0, 0, 1, 0, 0, -1.849, 1, 1); }
  12.00% { transform: matrix3d(-0.106, 0.128, 0, 0, -0.128, -0.106, 0, 0, 0, 0, 1, 0, 0, 2.148, 1, 1); }
  13.00% { transform: matrix3d(-0.177, 0.049, 0, 0, -0.049, -0.177, 0, 0, 0, 0, 1, 0, 0, 3.457, 1, 1); }
  14.00% { transform: matrix3d(-0.198, -0.052, 0, 0, 0.052, -0.198, 0, 0, 0, 0, 1, 0, 0, 3.273, 1, 1); }
  15.00% { transform: matrix3d(-0.173, -0.151, 0, 0, 0.151, -0.173, 0, 0, 0, 0, 1, 0, 0, 2.461, 1, 1); }
  16.00% { transform: matrix3d(-0.113, -0.231, 0, 0, 0.231, -0.113, 0, 0, 0, 0, 1, 0, 0, 1.548, 1, 1); }
  17.00% { transform: matrix3d(-0.032, -0.287, 0, 0, 0.287, -0.032, 0, 0, 0, 0, 1, 0, 0, 0.795, 1, 1); }
  18.00% { transform: matrix3d(0.059, -0.318, 0, 0, 0.318, 0.059, 0, 0, 0, 0, 1, 0, 0, 0.28, 1, 1); }
  19.00% { transform: matrix3d(0.152, -0.329, 0, 0, 0.329, 0.152, 0, 0, 0, 0, 1, 0, 0, -0.012, 1, 1); }
  20.00% { transform: matrix3d(0.245, -0.325, 0, 0, 0.325, 0.245, 0, 0, 0, 0, 1, 0, 0, -0.141, 1, 1); }
  21.00% { transform: matrix3d(0.335, -0.308, 0, 0, 0.308, 0.335, 0, 0, 0, 0, 1, 0, 0, -0.167, 1, 1); }
  22.00% { transform: matrix3d(0.421, -0.284, 0, 0, 0.284, 0.421, 0, 0, 0, 0, 1, 0, 0, -0.141, 1, 1); }
  23.00% { transform: matrix3d(0.505, -0.255, 0, 0, 0.255, 0.505, 0, 0, 0, 0, 1, 0, 0, -0.098, 1, 1); }
  24.00% { transform: matrix3d(0.581, -0.221, 0, 0, 0.221, 0.581, 0, 0, 0, 0, 1, 0, 0, -0.057, 1, 1); }
  25.00% { transform: matrix3d(0.646, -0.183, 0, 0, 0.183, 0.646, 0, 0, 0, 0, 1, 0, 0, -0.026, 1, 1); }
  26.00% { transform: matrix3d(0.703, -0.147, 0, 0, 0.147, 0.703, 0, 0, 0, 0, 1, 0, 0, -0.006, 1, 1); }
  27.00% { transform: matrix3d(0.751, -0.112, 0, 0, 0.112, 0.751, 0, 0, 0, 0, 1, 0, 0, 0.004, 1, 1); }
  28.00% { transform: matrix3d(0.792, -0.081, 0, 0, 0.081, 0.792, 0, 0, 0, 0, 1, 0, 0, 0.008, 1, 1); }
  29.00% { transform: matrix3d(0.827, -0.054, 0, 0, 0.054, 0.827, 0, 0, 0, 0, 1, 0, 0, 0.008, 1, 1); }
  30.00% { transform: matrix3d(0.858, -0.031, 0, 0, 0.031, 0.858, 0, 0, 0, 0, 1, 0, 0, 0.006, 1, 1); }
  31.00% { transform: matrix3d(0.884, -0.013, 0, 0, 0.013, 0.884, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  32.00% { transform: matrix3d(0.907, 0.002, 0, 0, -0.002, 0.907, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  33.00% { transform: matrix3d(0.926, 0.014, 0, 0, -0.014, 0.926, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  34.00% { transform: matrix3d(0.942, 0.023, 0, 0, -0.023, 0.942, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  35.00% { transform: matrix3d(0.956, 0.029, 0, 0, -0.029, 0.956, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  36.00% { transform: matrix3d(0.967, 0.033, 0, 0, -0.033, 0.967, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  37.00% { transform: matrix3d(0.976, 0.036, 0, 0, -0.036, 0.976, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  38.00% { transform: matrix3d(0.983, 0.037, 0, 0, -0.037, 0.983, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  39.00% { transform: matrix3d(0.989, 0.037, 0, 0, -0.037, 0.989, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  40.00% { transform: matrix3d(0.993, 0.036, 0, 0, -0.036, 0.993, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  41.00% { transform: matrix3d(0.996, 0.034, 0, 0, -0.034, 0.996, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  42.00% { transform: matrix3d(0.998, 0.033, 0, 0, -0.033, 0.998, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  43.00% { transform: matrix3d(0.999, 0.03, 0, 0, -0.03, 0.999, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  44.00% { transform: matrix3d(0.999, 0.028, 0, 0, -0.028, 0.999, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  45.00% { transform: matrix3d(1, 0.026, 0, 0, -0.026, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  46.00% { transform: matrix3d(1, 0.023, 0, 0, -0.023, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  47.00% { transform: matrix3d(1, 0.021, 0, 0, -0.021, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  48.00% { transform: matrix3d(1, 0.019, 0, 0, -0.019, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  49.00% { transform: matrix3d(1, 0.017, 0, 0, -0.017, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  50.00% { transform: matrix3d(1, 0.015, 0, 0, -0.015, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  51.00% { transform: matrix3d(1, 0.013, 0, 0, -0.013, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  52.00% { transform: matrix3d(1, 0.011, 0, 0, -0.011, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  53.00% { transform: matrix3d(1, 0.01, 0, 0, -0.01, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  54.00% { transform: matrix3d(1, 0.009, 0, 0, -0.009, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  55.00% { transform: matrix3d(1, 0.007, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  56.00% { transform: matrix3d(1, 0.006, 0, 0, -0.006, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  57.00% { transform: matrix3d(1, 0.005, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  58.00% { transform: matrix3d(1, 0.005, 0, 0, -0.005, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  59.00% { transform: matrix3d(1, 0.004, 0, 0, -0.004, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  60.00% { transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  61.00% { transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  62.00% { transform: matrix3d(1, 0.002, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  63.00% { transform: matrix3d(1, 0.002, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  64.00% { transform: matrix3d(1, 0.002, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  65.00% { transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  66.00% { transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  67.00% { transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  68.00% { transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  69.00% { transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  70.00% { transform: matrix3d(1, 0, 0, 0, -0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  71.00% { transform: matrix3d(1, 0, 0, 0, -0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  72.00% { transform: matrix3d(1, 0, 0, 0, -0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  73.00% { transform: matrix3d(1, 0, 0, 0, -0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  74.00% { transform: matrix3d(1, 0, 0, 0, -0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  75.00% { transform: matrix3d(1, 0, 0, 0, -0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  76.00% { transform: matrix3d(1, 0, 0, 0, -0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  77.00% { transform: matrix3d(1, 0, 0, 0, -0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  78.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  79.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  80.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  81.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  82.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  83.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  84.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  85.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  86.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  87.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  88.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  89.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  90.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  91.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  92.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  93.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  94.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  95.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  96.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  97.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  98.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  99.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
  100.00% { transform: matrix3d(1, -0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.005, 1, 1); }
}
