.avatar-circular {
  display: block;
  border-radius: 50%;
  border-color: $avatar-border-color;
  border-style: solid;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
}

#avatar-medium {
  width: 144px;
  height: 144px;
  -webkit-border-radius: 72px;
  background: url(http://techgraphics.github.io/assets/images/avatar-medium.jpg) no-repeat;
  background-position: center;
  background-size: 100%;
  box-shadow: 0px 6px 16px $base-color-shadow;
}
#avatar-small {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 24px;
  background: url(http://techgraphics.github.io/assets/images/avatar-small.jpg) no-repeat;
  background-position: center;
  background-size: 100%;
  border-width: 1px;
  box-shadow: none;
}

a .avatar-circular:hover,
a .avatar-circular:focus {
  transform: rotate(5deg);
}

a #avatar-medium:hover,
a #avatar-small:hover,
a #avatar-medium:focus,
a #avatar-small:focus {
  background-size: 110%;
}