/*! AVATAR */

.avatar-circular {
  display: block;
  border-radius: 50%;
  border-color: $avatar-border-color;
  border-style: solid;
  border-width: 1.5pt;
  margin-left: auto;
  margin-right: auto;
}


@media (max-height: 31em) and (min-width: 48em) { // ???
  .avatar-circular {
    display: none;
  } 
}
@media (max-height: 25em) and (min-width: 56em) { // ???
  .avatar-circular {
    display: none;
  } 
}

#avatar-medium {
  width: 96pt;
  height: 96pt;
  -webkit-border-radius: 48pt;
  background: url(http://techgraphics.github.io/assets/images/personal-flag-medium.jpg) no-repeat;
  background-position: center;
  background-size: 105.5%;
  box-shadow: 0px 6px 16px $base-color-shadow;
}
#avatar-small {
  width: 32pt;
  height: 32pt;
  -webkit-border-radius: 16pt;
  background: url(http://techgraphics.github.io/assets/images/personal-flag-medium.jpg) no-repeat;
  background-position: center;
  background-size: 105.5%;
  border-width: 0.5pt;
  box-shadow: none;
}

a .avatar-circular:hover,
a .avatar-circular:focus {
/*!  transform: rotate(0deg); */
}

a #avatar-medium:hover,
a #avatar-small:hover,
a #avatar-medium:focus,
a #avatar-small:focus {
  background-size: 105.5%;
}

/*! endof AVATAR */
