.avatar-circular {
  display: block;
  width: 144px;
  height: 144px;
  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  background: url(http://techgraphics.github.io/public/images/avatar-medium.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 16px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 16px rgba(0,0,0,0.7);
  border-color: rgba(255,250,237,0.85);
  border-style: solid;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
}
