$white-color: #ffffff; /* Keep maximum whiteness */
$black-color: #000000; /* Keep maximum blackness */

$buff-color-brightest: #fffcf4;
$buff-color-normal: #fff8ea;

$base-color-normal: #dda200; /* hsl(44, 100%, 87%) */
$base-color-normal-7: hsla(44, 100%, 87%, 0.7) ;
$base-color-normal-10: hsla(44, 100%, 87%, 0.1) ;
$base-color-brightest: #ffbb00; /* hsl(44, 100%, 100%) */
$base-color-brightest-70: hsla(44, 100%, 100%, 0.7) ;
$base-color-brightest-10: hsla(44, 100%, 100%, 0.1) ;
$base-color-darker: #c48f00; /* hsl(44, 100%, 77%) */
$base-color-darker-70: hsla(44, 100%, 77%, 0.7) ;
$base-color-darker-10: hsla(44, 100%, 77%, 0.1) ;
$base-color-darkest: #aa7d00; /* hsl(44, 100%, 67%) */
$base-color-darkest-70: hsla(44, 100%, 67%, 0.7) ;
$base-color-darkest-10: hsla(44, 100%, 67%, 0.1) ;

$site-title-color-shadow: $white-color;
$site-title-color: $white-color;

$avatar-shadow: #775700; 

$anchor-color-default: $black-color;
$anchor-color-default-underline-unfocused: #c1d1ff; 
$anchor-color-default-underline-focused: #0034c4; /* base-color-darker +hue180 */

$h1-color: base-color-darker; 
$h2-color: #34c400; /* base-color-darker +hue60 */
$h3-color: #00c48f; /* base-color-darker +hue120 */
$h4-color: #0034c4; /* base-color-darker +hue180 */
$h5-color: #8f00c4; /* base-color-darker +hue240 */
$h6-color: #c40034; /* base-color-darker +hue300 */
