// Colours
//
// 

$white-color: #ffffff; /* Keep maximum whiteness */
$black-color: #000000; /* Keep maximum blackness */

$buff-color-brightest: #fffcf4;
$buff-color-brightest-complementary: #f4f7ff;
$buff-color-normal: #fff9ea;
$buff-color-dark: #fff6e0;
$buff-color-darker: #fff2d1;
$buff-color-darkest: #ddcea5;

$base-color-normal: #dda200; /* hsl(44, 100%, 87%) */
$base-color-normal-70: hsla(44, 100%, 87%, 0.7) ;
$base-color-normal-10: hsla(44, 100%, 87%, 0.1) ;
$base-color-bright: #ffbb00; /* hsl(44, 100%, 100%) */
$base-color-bright-70: hsla(44, 100%, 100%, 0.7) ;
$base-color-bright-10: hsla(44, 100%, 100%, 0.1) ;
$base-color-brighter: #ffdd7f; /* hsl(44, 50%, 100%) */
$base-color-brightest: #ffedbe; /* hsl(44, 25%, 100%) */
$base-color-darker: #c48f00; /* hsl(44, 100%, 77%) */
$base-color-darker-70: hsla(44, 100%, 77%, 0.7) ;
$base-color-darker-10: hsla(44, 100%, 77%, 0.1) ;
$base-color-darkest: #aa7d00; /* hsl(44, 100%, 67%) */
$base-color-darkest-70: hsla(44, 100%, 67%, 0.7) ;
$base-color-darkest-10: hsla(44, 100%, 67%, 0.1) ;
$base-color-shadow: #775700; /* hsl(44, 100%, 47%) */

$site-title-color-shadow: $white-color;
$site-title-color: $white-color;

$avatar-border-color: rgba(255,250,237,0.85) ;

$anchor-color-default-underline-unfocused: #aaaaaa; 
$anchor-color-default-underline-focused: $base-color-normal;

$message-color: inherit;

$h1-color: $base-color-darker; 
$h2-color: #34c400; /* base-color-darker +hue60 */
$h3-color: #00c48f; /* base-color-darker +hue120 */
$h4-color: #0034c4; /* base-color-darker +hue180 */
$h5-color: #8f00c4; /* base-color-darker +hue240 */
$h6-color: #c40034; /* base-color-darker +hue300 */

$table-border-color: $base-color-normal;
$table-background-color: $buff-color-brightest;
$tr-background-color-odd: $buff-color-darker;
$tr-background-color-even: $buff-color-normal;
$td-proficiency-beginner: cyan;
$td-proficiency-basic: blue;
$td-proficiency-intermediate: purple;
$td-proficiency-advanced: green;
$td-proficiency-expert: yellow;
$td-proficiency-unknown: grey;
