/*! COLOUR DEFINITIONS */

$white-color: #ffffff; /* Keep maximum whiteness */
$black-color: #000000; /* Keep maximum blackness */
$code-color-inline: #cc0000; 
$message-color: inherit;

$buff-color-brightest: #fffcf4;
$buff-color-brightest-complementary: #f4f7ff;
$buff-color-normal: #fff9ea;
$buff-color-dark: #fff6e0;
$buff-color-darker: #fff2d1;
$buff-color-darkest: #ddcea5;

$base-color-normal: #dda200; /* hsl(44, 100%, 87%) */
$base-color-normal-70: hsla(44, 100%, 87%, 0.7) ;
$base-color-normal-10: hsla(44, 100%, 87%, 0.1) ;
$base-color-bright: #ffbb00; /* hsl(44, 100%, 100%) */
$base-color-bright-70: hsla(44, 100%, 100%, 0.7) ;
$base-color-bright-10: hsla(44, 100%, 100%, 0.1) ;
$base-color-brighter: #ffdd7f; /* hsl(44, 50%, 100%) */
$base-color-brightest: #ffedbe; /* hsl(44, 25%, 100%) */
$base-color-darker: #c48f00; /* hsl(44, 100%, 77%) */
$base-color-darker-70: hsla(44, 100%, 77%, 0.7) ;
$base-color-darker-10: hsla(44, 100%, 77%, 0.1) ;
$base-color-darkest: #aa7d00; /* hsl(44, 100%, 67%) */
$base-color-darkest-70: hsla(44, 100%, 67%, 0.7) ;
$base-color-darkest-10: hsla(44, 100%, 67%, 0.1) ;
$base-color-shadow: #775700; /* hsl(44, 100%, 47%) */

$site-title-color-shadow: $white-color;
$site-title-color: $white-color;

$avatar-border-color: rgba(255,250,237,0.85) ;

$anchor-color-default-underline-unfocused: #aaaaaa; 
$anchor-color-default-underline-focused: $base-color-normal;


$h1-color: $base-color-darker; 
$h2-color: #34c400; /* base-color-darker +hue60 */
$h3-color: #00c48f; /* base-color-darker +hue120 */
$h4-color: #0034c4; /* base-color-darker +hue180 */
$h5-color: #8f00c4; /* base-color-darker +hue240 */
$h6-color: #c40034; /* base-color-darker +hue300 */

$table-border-color: $base-color-normal;
$table-background-color: $buff-color-brightest;
$tr-background-color-odd: $buff-color-darker;
$tr-background-color-even: $buff-color-normal;
$td-proficiency-beginner: #66ccff;
$td-proficiency-basic: #0033cc;
$td-proficiency-intermediate: #339933;
$td-proficiency-advanced: $base-color-normal;
$td-proficiency-expert: #6600cc;
$td-proficiency-unknown: #888888;


/*! PMS colors */
/* Modified from [https://github.com/damonbauer/Pantone-Sass] */
// 
// NOTE: Uncomment just the colors you want to use, to keep the built CSS to a reasonable file size
//
// $pms-Yellow: #fedd00;
// $pms-Yellow-012: #ffd700;
// $pms-Orange-021: #fe5000;
// $pms-Warm-Red: #f9423a;
// $pms-Red-032: #ef3340;
// $pms-Rubine-Red: #ce0058;
// $pms-Rhodamine-Red: #e10098;
// $pms-Purple: #bb29bb;
// $pms-Violet: #440099;
// $pms-Blue-072: #10069f;
// $pms-Reflex-Blue: #001489;
// $pms-Process-Blue: #0085ca;
// $pms-Green: #00ab84;
// $pms-Black: #2d2926;
// $pms-Yellow-0131: #f2f0a1;
// $pms-Red-0331: #fcaebb;
// $pms-Magenta-0521: #f1b2dc;
// $pms-Violet-0631: #bf9bde;
// $pms-Blue-0821: #74d1ea;
// $pms-Green-0921: #9de7d7;
// $pms-Black-0961: #9e978e;
// $pms-801: #009ace;
// $pms-802: #44d62c;
// $pms-803: #ffe900;
// $pms-804: #ffaa4d;
// $pms-805: #ff7276;
// $pms-806: #ff3eb5;
// $pms-807: #ea27c2;
// $pms-871: #84754e;
// $pms-872: #85714d;
// $pms-873: #866d4b;
// $pms-874: #8b6f4e;
// $pms-875: #87674f;
// $pms-876: #8b634b;
// $pms-877: #8a8d8f;
// $pms-Medium-Yellow: #ffd900;
// $pms-Bright-Orange: #ff5e00;
// $pms-Bright-Red: #f93822;
// $pms-Strong-Red: #ce0056;
// $pms-Pink: #d62598;
// $pms-Medium-Purple: #4e008e;
// $pms-Dark-Blue: #00239c;
// $pms-Medium-Blue: #0084ca;
// $pms-Bright-Green: #00b08b;
// $pms-Neutral-Black: #222223;
// $pms-100: #f6eb61;
// $pms-101: #f7ea48;
// $pms-102: #fce300;
// $pms-103: #c5a900;
// $pms-104: #af9800;
// $pms-105: #897a27;
// $pms-7401: #f5e1a4;
// $pms-7402: #ecd898;
// $pms-7403: #eed484;
// $pms-7404: #f4da40;
// $pms-7405: #f2cd00;
// $pms-7406: #f1c400;
// $pms-7407: #cba052;
// $pms-106: #f9e547;
// $pms-107: #fbe122;
// $pms-108: #fedb00;
// $pms-109: #ffd100;
// $pms-110: #daaa00;
// $pms-111: #aa8a00;
// $pms-112: #9c8412;
// $pms-113: #fae053;
// $pms-114: #fbdd40;
// $pms-115: #fdda24;
// $pms-116: #ffcd00;
// $pms-117: #c99700;
// $pms-118: #ac8400;
// $pms-119: #897322;
// $pms-127: #f3dd6d;
// $pms-128: #f3d54e;
// $pms-129: #f3d03e;
// $pms-130: #f2a900;
// $pms-131: #cc8a00;
// $pms-132: #a07400;
// $pms-133: #6c571b;
// $pms-1205: #f8e08e;
// $pms-1215: #fbd872;
// $pms-1225: #ffc845;
// $pms-1235: #ffb81c;
// $pms-1245: #c69214;
// $pms-1255: #ad841f;
// $pms-1265: #886b25;
// $pms-120: #fbdb65;
// $pms-121: #fdd757;
// $pms-122: #fed141;
// $pms-123: #ffc72c;
// $pms-124: #eaaa00;
// $pms-125: #b58500;
// $pms-126: #9a7611;
// $pms-7548: #ffc600;
// $pms-7549: #ffb500;
// $pms-7550: #d19000;
// $pms-7551: #b47e00;
// $pms-7552: #73531d;
// $pms-7553: #5a4522;
// $pms-7554: #4b3d2a;
// $pms-7555: #d29f13;
// $pms-7556: #b78b20;
// $pms-7557: #9f7d23;
// $pms-7558: #967126;
// $pms-7559: #8f6a2a;
// $pms-7560: #7d622e;
// $pms-7561: #6c5d34;
// $pms-134: #fdd26e;
// $pms-135: #ffc658;
// $pms-136: #ffbf3f;
// $pms-137: #ffa300;
// $pms-138: #de7c00;
// $pms-139: #af6d04;
// $pms-140: #74531c;
// $pms-1345: #fdd086;
// $pms-1355: #ffc56e;
// $pms-1365: #ffb549;
// $pms-1375: #ff9e1b;
// $pms-1385: #d57800;
// $pms-1395: #996017;
// $pms-1405: #6e4c1e;
// $pms-141: #f2c75c;
// $pms-142: #f1be48;
// $pms-143: #f1b434;
// $pms-144: #ed8b00;
// $pms-145: #cf7f00;
// $pms-146: #a76d11;
// $pms-147: #715c2a;
// $pms-7408: #f6be00;
// $pms-7409: #f0b323;
// $pms-7410: #fead77;
// $pms-7411: #e6a65d;
// $pms-7412: #d38235;
// $pms-7413: #dc8633;
// $pms-7414: #c16c18;
// $pms-7562: #bd9b60;
// $pms-7563: #d69a2d;
// $pms-7564: #db8a06;
// $pms-7565: #cd7925;
// $pms-7566: #ad6433;
// $pms-7567: #89532f;
// $pms-7568: #775135;
// $pms-7569: #d78825;
// $pms-7570: #d3832b;
// $pms-7571: #c67d30;
// $pms-7572: #b67233;
// $pms-7573: #a7662b;
// $pms-7574: #9e6a38;
// $pms-7575: #835d32;
// $pms-712: #fcc89b;
// $pms-713: #fdbe87;
// $pms-714: #fdaa63;
// $pms-715: #f68d2e;
// $pms-716: #ea7600;
// $pms-717: #d45d00;
// $pms-718: #be4d00;
// $pms-148: #fecb8b;
// $pms-149: #ffc27b;
// $pms-150: #ffb25b;
// $pms-151: #ff8200;
// $pms-152: #e57200;
// $pms-153: #be6a14;
// $pms-154: #9b5a1a;
// $pms-155: #efd19f;
// $pms-156: #efbe7d;
// $pms-157: #eca154;
// $pms-158: #e87722;
// $pms-159: #cb6015;
// $pms-160: #a1561c;
// $pms-161: #603d20;
// $pms-1485: #ffae62;
// $pms-1495: #ff8f1c;
// $pms-1505: #ff6900;
// $pms-1525: #b94700;
// $pms-1535: #94450b;
// $pms-1545: #653819;
// $pms-1555: #ffb990;
// $pms-1565: #ffa06a;
// $pms-1575: #ff7f32;
// $pms-1585: #ff6a13;
// $pms-1595: #d86018;
// $pms-1605: #a65523;
// $pms-1615: #8b4720;
// $pms-162: #ffbe9f;
// $pms-163: #ff9d6e;
// $pms-164: #ff7f41;
// $pms-165: #ff671f;
// $pms-166: #e35205;
// $pms-167: #be531c;
// $pms-168: #73381d;
// $pms-7576: #db864e;
// $pms-7577: #e07e3c;
// $pms-7578: #dc6b2f;
// $pms-7579: #dc582a;
// $pms-7580: #c05131;
// $pms-7581: #864a33;
// $pms-7582: #674736;
// $pms-1625: #ffa38b;
// $pms-1635: #ff8d6d;
// $pms-1645: #ff6a39;
// $pms-1655: #fc4c02;
// $pms-1665: #dc4405;
// $pms-1675: #a9431e;
// $pms-1685: #833921;
// $pms-169: #ffb3ab;
// $pms-170: #ff8674;
// $pms-171: #ff5c39;
// $pms-172: #fa4616;
// $pms-173: #cf4520;
// $pms-174: #963821;
// $pms-175: #6b3529;
// $pms-7583: #c4622d;
// $pms-7584: #ba5826;
// $pms-7585: #af5c37;
// $pms-7586: #9e5330;
// $pms-7587: #924c2e;
// $pms-7588: #7b4d35;
// $pms-7589: #5c4738;
// $pms-7590: #d4b59e;
// $pms-7591: #c07d59;
// $pms-7592: #b15533;
// $pms-7593: #9d432c;
// $pms-7594: #7c3a2d;
// $pms-7595: #6b3d2e;
// $pms-7596: #5c3d31;
// $pms-7597: #d14124;
// $pms-7598: #bd472a;
// $pms-7599: #b33d26;
// $pms-7600: #8d3f2b;
// $pms-7601: #83412c;
// $pms-7602: #7b4931;
// $pms-7603: #674230;
// $pms-7604: #e4d5d3;
// $pms-7605: #e1bbb4;
// $pms-7606: #d6938a;
// $pms-7607: #c26e60;
// $pms-7608: #a4493d;
// $pms-7609: #823b34;
// $pms-7610: #683431;
// $pms-7611: #ddbcb0;
// $pms-7612: #ca9a8e;
// $pms-7613: #bc8a7e;
// $pms-7614: #a37f74;
// $pms-7615: #866761;
// $pms-7616: #6b4c4c;
// $pms-7617: #583d3e;
// $pms-7520: #eabeb0;
// $pms-7521: #c09c83;
// $pms-7522: #b46a55;
// $pms-7523: #ab5c57;
// $pms-7524: #a45248;
// $pms-7525: #9a6a4f;
// $pms-7526: #8a391b;
// $pms-489: #ecc3b2;
// $pms-488: #ecbaa8;
// $pms-487: #eaa794;
// $pms-486: #e8927c;
// $pms-485: #da291c;
// $pms-484: #9a3324;
// $pms-483: #653024;
// $pms-176: #ffb1bb;
// $pms-177: #ff808b;
// $pms-178: #ff585d;
// $pms-179: #e03c31;
// $pms-180: #be3a34;
// $pms-181: #81312f;
// $pms-1765: #ffa3b5;
// $pms-1775: #ff8da1;
// $pms-1785: #f8485e;
// $pms-1788: #ee2737;
// $pms-1795: #d22630;
// $pms-1805: #af272f;
// $pms-1815: #7c2529;
// $pms-1767: #fcafc0;
// $pms-1777: #fb637e;
// $pms-1787: #f4364c;
// $pms-1797: #cb333b;
// $pms-1807: #a4343a;
// $pms-1817: #643335;
// $pms-7618: #c66e4e;
// $pms-7619: #c04c36;
// $pms-7620: #b7312c;
// $pms-7621: #ab2328;
// $pms-7622: #93272c;
// $pms-7623: #8a2a2b;
// $pms-7624: #802f2d;
// $pms-7625: #e1523d;
// $pms-7626: #c63527;
// $pms-7627: #a72b2a;
// $pms-7628: #9e2a2b;
// $pms-7629: #6d3332;
// $pms-7630: #633231;
// $pms-7631: #572d2d;
// $pms-7415: #e6baa8;
// $pms-7416: #e56a54;
// $pms-7417: #e04e39;
// $pms-7418: #cd545b;
// $pms-7419: #b04a5a;
// $pms-7420: #9b2242;
// $pms-7421: #651d32;
// $pms-182: #fabbcb;
// $pms-183: #fc9bb3;
// $pms-184: #f65275;
// $pms-185: #e4002b;
// $pms-186: #c8102e;
// $pms-187: #a6192e;
// $pms-188: #76232f;
// $pms-196: #ecc7cd;
// $pms-197: #e89cae;
// $pms-198: #df4661;
// $pms-199: #d50032;
// $pms-200: #ba0c2f;
// $pms-201: #9d2235;
// $pms-202: #862633;
// $pms-189: #f8a3bc;
// $pms-190: #f67599;
// $pms-191: #ef426f;
// $pms-192: #e40046;
// $pms-193: #bf0d3e;
// $pms-194: #9b2743;
// $pms-195: #782f40;
// $pms-1895: #f5b6cd;
// $pms-1905: #f59bbb;
// $pms-1915: #ef4a81;
// $pms-1925: #e0004d;
// $pms-1935: #c5003e;
// $pms-1945: #a6093d;
// $pms-1955: #8a1538;
// $pms-705: #f5dadf;
// $pms-706: #f7ced7;
// $pms-707: #f9b5c4;
// $pms-708: #f890a5;
// $pms-709: #ef6079;
// $pms-710: #e03e52;
// $pms-711: #cb2c30;
// $pms-698: #f2d4d7;
// $pms-699: #f4c3cc;
// $pms-700: #f2acb9;
// $pms-701: #e68699;
// $pms-702: #d25b73;
// $pms-703: #b83a4b;
// $pms-704: #9e2a2f;
// $pms-203: #ecb3cb;
// $pms-204: #e782a9;
// $pms-205: #e0457b;
// $pms-206: #ce0037;
// $pms-207: #a50034;
// $pms-208: #861f41;
// $pms-209: #6f263d;
// $pms-210: #f99fc9;
// $pms-211: #f57eb6;
// $pms-212: #f04e98;
// $pms-213: #e31c79;
// $pms-214: #ce0f69;
// $pms-215: #ac145a;
// $pms-216: #7d2248;
// $pms-7422: #f4cdd4;
// $pms-7423: #e06287;
// $pms-7424: #e24585;
// $pms-7425: #b52555;
// $pms-7426: #a4123f;
// $pms-7427: #971b2f;
// $pms-7428: #6a2c3e;
// $pms-7632: #d6c9ca;
// $pms-7633: #c4a4a7;
// $pms-7634: #c16784;
// $pms-7635: #c63663;
// $pms-7636: #bc204b;
// $pms-7637: #912f46;
// $pms-7638: #7e2d40;
// $pms-217: #eabedb;
// $pms-218: #e56db1;
// $pms-219: #da1884;
// $pms-220: #a50050;
// $pms-221: #910048;
// $pms-222: #6c1d45;
// $pms-7639: #936d73;
// $pms-7640: #934054;
// $pms-7641: #8e2c48;
// $pms-7642: #732e4a;
// $pms-7643: #672e45;
// $pms-7644: #582d40;
// $pms-7645: #502b3a;
// $pms-223: #ef95cf;
// $pms-224: #eb6fbd;
// $pms-225: #df1995;
// $pms-226: #d0006f;
// $pms-227: #aa0061;
// $pms-228: #890c58;
// $pms-229: #672146;
// $pms-230: #f4a6d7;
// $pms-231: #f277c6;
// $pms-232: #e93cac;
// $pms-233: #c6007e;
// $pms-234: #a20067;
// $pms-235: #840b55;
// $pms-670: #ead3e2;
// $pms-671: #e6bcd8;
// $pms-672: #dfa0c9;
// $pms-673: #d986ba;
// $pms-674: #c6579a;
// $pms-675: #ae2573;
// $pms-676: #960051;
// $pms-677: #e5cedb;
// $pms-678: #e3c8d8;
// $pms-679: #debed2;
// $pms-680: #c996b6;
// $pms-681: #b06c96;
// $pms-682: #994878;
// $pms-683: #7c2855;
// $pms-684: #e4c6d4;
// $pms-685: #dcb6c9;
// $pms-686: #d0a1ba;
// $pms-687: #be84a3;
// $pms-688: #a76389;
// $pms-689: #893b67;
// $pms-690: #612141;
// $pms-510: #ebbecb;
// $pms-509: #e8b3c3;
// $pms-508: #e4a9bb;
// $pms-507: #d592aa;
// $pms-506: #84344e;
// $pms-505: #6f2c3f;
// $pms-504: #572932;
// $pms-7429: #e2bccb;
// $pms-7430: #dca9bf;
// $pms-7431: #c9809e;
// $pms-7432: #b55c80;
// $pms-7433: #a73a64;
// $pms-7434: #9b3259;
// $pms-7435: #872651;
// $pms-691: #e9cdd0;
// $pms-692: #e4bec3;
// $pms-693: #d7a3ab;
// $pms-694: #c48490;
// $pms-695: #b46b7a;
// $pms-696: #984856;
// $pms-697: #893c47;
// $pms-496: #f2c6cf;
// $pms-495: #f1bdc8;
// $pms-494: #e9a2b2;
// $pms-493: #dc8699;
// $pms-492: #8f3237;
// $pms-491: #7f3035;
// $pms-490: #5d2a2c;
// $pms-503: #e9c4c7;
// $pms-502: #e5bac1;
// $pms-501: #daa5ad;
// $pms-500: #c6858f;
// $pms-499: #7a3e3a;
// $pms-498: #6a3735;
// $pms-497: #512f2e;
// $pms-5035: #dfc2c3;
// $pms-5025: #dbb7bb;
// $pms-5015: #cca1a6;
// $pms-5005: #b07c83;
// $pms-4995: #9c6169;
// $pms-4985: #874b52;
// $pms-4975: #3f2021;
// $pms-236: #f1a7dc;
// $pms-237: #ec86d0;
// $pms-238: #e45dbf;
// $pms-239: #db3eb1;
// $pms-240: #c5299b;
// $pms-241: #af1685;
// $pms-242: #80225f;
// $pms-2365: #efbae1;
// $pms-2375: #e277cd;
// $pms-2385: #d539b5;
// $pms-2395: #c800a1;
// $pms-2405: #b0008e;
// $pms-2415: #9e007e;
// $pms-2425: #830065;
// $pms-243: #eab8e4;
// $pms-244: #e59bdc;
// $pms-245: #dd7fd3;
// $pms-246: #c724b1;
// $pms-247: #bb16a3;
// $pms-248: #a51890;
// $pms-249: #80276c;
// $pms-7646: #a56e87;
// $pms-7647: #a83d72;
// $pms-7648: #991e66;
// $pms-7649: #8a1b61;
// $pms-7650: #722257;
// $pms-7651: #6a2a5b;
// $pms-7652: #5e2751;
// $pms-250: #e7bae4;
// $pms-251: #dd9cdf;
// $pms-252: #c964cf;
// $pms-253: #ad1aac;
// $pms-254: #981d97;
// $pms-255: #72246c;
// $pms-517: #ebc6df;
// $pms-516: #e6bedd;
// $pms-515: #e2acd7;
// $pms-514: #d48bc8;
// $pms-513: #93328e;
// $pms-512: #833177;
// $pms-511: #612c51;
// $pms-7436: #eedaea;
// $pms-7437: #ccaed0;
// $pms-7438: #d59ed7;
// $pms-7439: #b288b9;
// $pms-7440: #a277a6;
// $pms-7441: #9f5cc0;
// $pms-7442: #963cbd;
// $pms-2562: #d7a9e3;
// $pms-2572: #c98bdb;
// $pms-2582: #ac4fc6;
// $pms-2592: #9b26b6;
// $pms-2602: #87189d;
// $pms-2612: #772583;
// $pms-2622: #653165;
// $pms-7653: #948794;
// $pms-7654: #a2789c;
// $pms-7655: #a15a95;
// $pms-7656: #8e3a80;
// $pms-7657: #6e2b62;
// $pms-7658: #6a3460;
// $pms-7659: #5d3754;
// $pms-524: #d5c2d8;
// $pms-523: #c9b1d0;
// $pms-522: #ba9cc5;
// $pms-521: #a57fb2;
// $pms-520: #642f6c;
// $pms-519: #59315f;
// $pms-518: #4b3048;
// $pms-5245: #dbcdd3;
// $pms-5235: #d0bec7;
// $pms-5225: #c6b0bc;
// $pms-5215: #af95a6;
// $pms-5205: #86647a;
// $pms-5195: #66435a;
// $pms-5185: #4a3041;
// $pms-5175: #d8c8d1;
// $pms-5165: #d3c0cd;
// $pms-5155: #bfa5b8;
// $pms-5145: #9b7793;
// $pms-5135: #7e5475;
// $pms-5125: #693c5e;
// $pms-5115: #512a44;
// $pms-531: #dfc8e7;
// $pms-530: #d7b9e4;
// $pms-529: #caa2dd;
// $pms-528: #b580d1;
// $pms-527: #8031a7;
// $pms-526: #702f8a;
// $pms-525: #572c5f;
// $pms-256: #d6bfdd;
// $pms-257: #c6a1cf;
// $pms-258: #8c4799;
// $pms-259: #6d2077;
// $pms-260: #642667;
// $pms-261: #5d285f;
// $pms-262: #51284f;
// $pms-2563: #cba3d8;
// $pms-2573: #b884cb;
// $pms-2583: #a05eb5;
// $pms-2593: #84329b;
// $pms-2603: #702082;
// $pms-2613: #671e75;
// $pms-2623: #5f2167;
// $pms-7660: #9991a4;
// $pms-7661: #8d6e97;
// $pms-7662: #7a4183;
// $pms-7663: #6b3077;
// $pms-7664: #653279;
// $pms-7665: #5e366e;
// $pms-7666: #5c4e63;
// $pms-2567: #c1a0da;
// $pms-2577: #a77bca;
// $pms-2587: #8246af;
// $pms-2597: #5c068c;
// $pms-2607: #500778;
// $pms-2617: #470a68;
// $pms-2627: #3c1053;
// $pms-263: #d7c6e6;
// $pms-264: #c1a7e2;
// $pms-265: #9063cd;
// $pms-266: #753bbd;
// $pms-267: #5f259f;
// $pms-268: #582c83;
// $pms-269: #512d6d;
// $pms-2635: #c5b4e3;
// $pms-2645: #ad96dc;
// $pms-2655: #9678d3;
// $pms-2665: #7d55c7;
// $pms-2685: #330072;
// $pms-2695: #2e1a47;
// $pms-270: #b4b5df;
// $pms-271: #9595d2;
// $pms-272: #7474c1;
// $pms-273: #24135f;
// $pms-274: #211551;
// $pms-275: #201747;
// $pms-276: #221c35;
// $pms-2705: #a7a4e0;
// $pms-2715: #8b84d7;
// $pms-2725: #685bc7;
// $pms-2735: #2e008b;
// $pms-2745: #280071;
// $pms-2755: #250e62;
// $pms-2765: #201547;
// $pms-7667: #6e7ca0;
// $pms-7668: #686e9f;
// $pms-7669: #615e9b;
// $pms-7670: #565294;
// $pms-7671: #514689;
// $pms-7672: #4c4184;
// $pms-7673: #535486;
// $pms-7443: #dddae8;
// $pms-7444: #b6b8dc;
// $pms-7445: #a7a2c3;
// $pms-7446: #8986ca;
// $pms-7447: #5d4777;
// $pms-7448: #4b384c;
// $pms-7449: #41273b;
// $pms-7674: #878cb4;
// $pms-7675: #7c7fab;
// $pms-7676: #7566a0;
// $pms-7677: #6f5091;
// $pms-7678: #68478d;
// $pms-7679: #563d82;
// $pms-7680: #523178;
// $pms-663: #e5e1e6;
// $pms-664: #e0dbe3;
// $pms-665: #c6bcd0;
// $pms-666: #a192b2;
// $pms-667: #7c6992;
// $pms-668: #614b79;
// $pms-669: #3f2a56;
// $pms-5315: #d8d7df;
// $pms-5305: #c6c4d2;
// $pms-5295: #b3b0c4;
// $pms-5285: #8d89a5;
// $pms-5275: #595478;
// $pms-5265: #403a60;
// $pms-5255: #1e1a34;
// $pms-538: #c5cfda;
// $pms-537: #bbc7d6;
// $pms-536: #a2b2c8;
// $pms-535: #8e9fbc;
// $pms-534: #1b365d;
// $pms-533: #1f2a44;
// $pms-532: #1c1f2a;
// $pms-7541: #d9e1e2;
// $pms-7542: #a4bcc2;
// $pms-7543: #98a4ae;
// $pms-7544: #768692;
// $pms-7545: #425563;
// $pms-7546: #253746;
// $pms-7547: #131e29;
// $pms-552: #b9d3dc;
// $pms-551: #a3c7d2;
// $pms-550: #8db9ca;
// $pms-549: #6ba4b8;
// $pms-548: #003d4c;
// $pms-547: #00313c;
// $pms-546: #072b31;
// $pms-5455: #bfced6;
// $pms-5445: #b7c9d3;
// $pms-5435: #a6bbc8;
// $pms-5425: #7a99ac;
// $pms-5415: #5b7f95;
// $pms-5405: #4f758b;
// $pms-5395: #081f2c;
// $pms-642: #d1dde6;
// $pms-643: #c6d6e3;
// $pms-644: #9bb8d3;
// $pms-645: #7da1c4;
// $pms-646: #5e8ab4;
// $pms-647: #236192;
// $pms-648: #002e5d;
// $pms-649: #dbe2e9;
// $pms-650: #ced9e5;
// $pms-651: #a7bcd6;
// $pms-652: #7d9bc1;
// $pms-653: #326295;
// $pms-654: #003a70;
// $pms-655: #002554;
// $pms-656: #dde5ed;
// $pms-657: #c8d8eb;
// $pms-658: #b1c9e8;
// $pms-659: #7ba4db;
// $pms-660: #407ec9;
// $pms-661: #003594;
// $pms-662: #001a70;
// $pms-7450: #bdc5db;
// $pms-7451: #89abe3;
// $pms-7452: #8094dd;
// $pms-7453: #7ba6de;
// $pms-7454: #5f8fb4;
// $pms-7455: #3a5dae;
// $pms-7456: #606eb2;
// $pms-2706: #cbd3eb;
// $pms-2716: #9faee5;
// $pms-2726: #485cc7;
// $pms-2736: #1e22aa;
// $pms-2746: #171c8f;
// $pms-2756: #151f6d;
// $pms-2766: #141b4d;
// $pms-2708: #b8ccea;
// $pms-2718: #5c88da;
// $pms-2728: #0047bb;
// $pms-2738: #06038d;
// $pms-2748: #001871;
// $pms-2758: #001e62;
// $pms-2768: #071d49;
// $pms-2707: #c3d7ee;
// $pms-2717: #a7c6ed;
// $pms-2727: #307fe2;
// $pms-2747: #001a72;
// $pms-2757: #001e60;
// $pms-2767: #13294b;
// $pms-277: #abcae9;
// $pms-278: #8bb8e8;
// $pms-279: #418fde;
// $pms-280: #012169;
// $pms-281: #00205b;
// $pms-282: #041e42;
// $pms-283: #92c1e9;
// $pms-284: #6cace4;
// $pms-285: #0072ce;
// $pms-286: #0033a0;
// $pms-287: #003087;
// $pms-288: #002d72;
// $pms-289: #0c2340;
// $pms-7681: #94a9cb;
// $pms-7682: #6787b7;
// $pms-7683: #426da9;
// $pms-7684: #385e9d;
// $pms-7685: #2c5697;
// $pms-7686: #1d4f91;
// $pms-7687: #1d428a;
// $pms-545: #c6dae7;
// $pms-544: #bdd6e6;
// $pms-543: #a4c8e1;
// $pms-542: #7bafd4;
// $pms-541: #003c71;
// $pms-540: #003057;
// $pms-539: #00263a;
// $pms-290: #b9d9eb;
// $pms-291: #9bcbeb;
// $pms-292: #69b3e7;
// $pms-293: #003da5;
// $pms-294: #002f6c;
// $pms-295: #002855;
// $pms-296: #041c2c;
// $pms-2905: #8dc8e8;
// $pms-2915: #62b5e5;
// $pms-2925: #009cde;
// $pms-2935: #0057b8;
// $pms-2945: #004c97;
// $pms-2955: #003865;
// $pms-2965: #00263e;
// $pms-297: #71c5e8;
// $pms-298: #41b6e6;
// $pms-299: #00a3e0;
// $pms-300: #005eb8;
// $pms-301: #004b87;
// $pms-302: #003b5c;
// $pms-303: #002a3a;
// $pms-7688: #4698cb;
// $pms-7689: #298fc2;
// $pms-7690: #0076a8;
// $pms-7691: #006298;
// $pms-7692: #005587;
// $pms-7693: #004976;
// $pms-7694: #01426a;
// $pms-2975: #99d6ea;
// $pms-2985: #5bc2e7;
// $pms-2995: #00a9e0;
// $pms-3005: #0077c8;
// $pms-3015: #00629b;
// $pms-3025: #004f71;
// $pms-3035: #003e51;
// $pms-7695: #7ba7bc;
// $pms-7696: #6399ae;
// $pms-7697: #4e87a0;
// $pms-7698: #41748d;
// $pms-7699: #34657f;
// $pms-7700: #165c7d;
// $pms-7701: #005776;
// $pms-7457: #bbdde6;
// $pms-7458: #71b2c9;
// $pms-7459: #4298b5;
// $pms-7460: #0086bf;
// $pms-7461: #007dba;
// $pms-7462: #00558c;
// $pms-7463: #002b49;
// $pms-304: #9adbe8;
// $pms-305: #59cbe8;
// $pms-306: #00b5e2;
// $pms-307: #006ba6;
// $pms-308: #00587c;
// $pms-309: #003b49;
// $pms-635: #a4dbe8;
// $pms-636: #8bd3e6;
// $pms-637: #4ec3e0;
// $pms-638: #00afd7;
// $pms-639: #0095c8;
// $pms-640: #0082ba;
// $pms-641: #0067a0;
// $pms-7702: #48a9c5;
// $pms-7703: #009cbd;
// $pms-7704: #0085ad;
// $pms-7705: #007096;
// $pms-7706: #006a8e;
// $pms-7707: #00617f;
// $pms-7708: #005670;
// $pms-628: #b8dde1;
// $pms-629: #9bd3dd;
// $pms-630: #77c5d5;
// $pms-631: #3eb1c8;
// $pms-632: #0093b2;
// $pms-633: #007396;
// $pms-634: #005f83;
// $pms-310: #6ad1e3;
// $pms-311: #05c3de;
// $pms-312: #00a9ce;
// $pms-313: #0092bc;
// $pms-314: #007fa3;
// $pms-315: #00677f;
// $pms-316: #004851;
// $pms-3105: #68d2df;
// $pms-3115: #00c1d5;
// $pms-3125: #00aec7;
// $pms-3135: #008eaa;
// $pms-3145: #00778b;
// $pms-3155: #006272;
// $pms-3165: #004f59;
// $pms-7709: #63b1bc;
// $pms-7710: #00a7b5;
// $pms-7711: #0097a9;
// $pms-7712: #00859b;
// $pms-7713: #007d8a;
// $pms-7714: #007680;
// $pms-7715: #006269;
// $pms-317: #b1e4e3;
// $pms-318: #88dbdf;
// $pms-319: #2dccd3;
// $pms-320: #009ca6;
// $pms-321: #008c95;
// $pms-322: #007377;
// $pms-323: #005f61;
// $pms-7464: #a0d1ca;
// $pms-7465: #40c1ac;
// $pms-7466: #00b0b9;
// $pms-7467: #00a3ad;
// $pms-7468: #007398;
// $pms-7469: #005f86;
// $pms-7470: #005a70;
// $pms-7471: #7eddd3;
// $pms-7472: #5cb8b2;
// $pms-7473: #279989;
// $pms-7474: #007681;
// $pms-7475: #487a7b;
// $pms-7476: #0d5257;
// $pms-7477: #244c5a;
// $pms-5523: #b6cfd0;
// $pms-5513: #abc7ca;
// $pms-5503: #94b7bb;
// $pms-5493: #7fa9ae;
// $pms-5483: #4f868e;
// $pms-5473: #115e67;
// $pms-5463: #07272d;
// $pms-7716: #00968f;
// $pms-7717: #00857d;
// $pms-7718: #007672;
// $pms-7719: #006d68;
// $pms-7720: #00635b;
// $pms-7721: #005e5d;
// $pms-7722: #005151;
// $pms-324: #9cdbd9;
// $pms-325: #64ccc9;
// $pms-326: #00b2a9;
// $pms-327: #008675;
// $pms-328: #007367;
// $pms-329: #00685e;
// $pms-330: #00534c;
// $pms-3242: #71dbd4;
// $pms-3252: #2ad2c9;
// $pms-3262: #00bfb3;
// $pms-3272: #00a499;
// $pms-3282: #008578;
// $pms-3292: #00594f;
// $pms-3302: #004c45;
// $pms-3245: #7ce0d3;
// $pms-3255: #2cd5c4;
// $pms-3265: #00c7b1;
// $pms-3275: #00b398;
// $pms-3285: #009681;
// $pms-3295: #007864;
// $pms-3305: #004e42;
// $pms-3248: #6dcdb8;
// $pms-3258: #49c5b1;
// $pms-3268: #00ab8e;
// $pms-3278: #009b77;
// $pms-3288: #008264;
// $pms-3298: #006a52;
// $pms-3308: #034638;
// $pms-566: #b9dcd2;
// $pms-565: #a1d6ca;
// $pms-564: #86c8bc;
// $pms-563: #6bbbae;
// $pms-562: #006f62;
// $pms-561: #00594c;
// $pms-560: #1d3c34;
// $pms-573: #b5e3d8;
// $pms-572: #a5dfd3;
// $pms-571: #98dbce;
// $pms-570: #6bcaba;
// $pms-569: #00816d;
// $pms-568: #006c5b;
// $pms-567: #173f35;
// $pms-559: #adcab8;
// $pms-558: #9abeaa;
// $pms-557: #85b09a;
// $pms-556: #6fa287;
// $pms-555: #28724f;
// $pms-554: #205c40;
// $pms-553: #284734;
// $pms-5595: #bfcec2;
// $pms-5585: #a7bdb1;
// $pms-5575: #92aca0;
// $pms-5565: #7f9c90;
// $pms-5555: #5c7f71;
// $pms-5545: #43695b;
// $pms-5535: #183028;
// $pms-5665: #bac5b9;
// $pms-5655: #b0bdb0;
// $pms-5645: #a3b2a4;
// $pms-5635: #94a596;
// $pms-5625: #708573;
// $pms-5615: #5e7461;
// $pms-5605: #22372b;
// $pms-5527: #bcc9c5;
// $pms-5517: #b1c0bc;
// $pms-5507: #9db0ac;
// $pms-5497: #829995;
// $pms-5487: #5d7975;
// $pms-5477: #3e5d58;
// $pms-5467: #18332f;
// $pms-621: #d1e0d7;
// $pms-622: #b7cdc2;
// $pms-623: #9ab9ad;
// $pms-624: #789f90;
// $pms-625: #507f70;
// $pms-626: #285c4d;
// $pms-627: #13322b;
// $pms-331: #a7e6d7;
// $pms-332: #8ce2d0;
// $pms-333: #3cdbc0;
// $pms-334: #009775;
// $pms-335: #007b5f;
// $pms-336: #00664f;
// $pms-337: #8fd6bd;
// $pms-338: #6eceb2;
// $pms-339: #00b388;
// $pms-340: #00965e;
// $pms-341: #007a53;
// $pms-342: #006747;
// $pms-343: #115740;
// $pms-7723: #50a684;
// $pms-7724: #00966c;
// $pms-7725: #008755;
// $pms-7726: #007b4b;
// $pms-7727: #006f44;
// $pms-7728: #006845;
// $pms-7729: #005844;
// $pms-3375: #7ae1bf;
// $pms-3385: #47d7ac;
// $pms-3395: #00c389;
// $pms-3405: #00af66;
// $pms-3415: #007749;
// $pms-3425: #006341;
// $pms-3435: #154734;
// $pms-344: #a0dab3;
// $pms-345: #91d6ac;
// $pms-346: #71cc98;
// $pms-347: #009a44;
// $pms-348: #00843d;
// $pms-349: #046a38;
// $pms-350: #2c5234;
// $pms-351: #a2e4b8;
// $pms-352: #8fe2b0;
// $pms-353: #80e0a7;
// $pms-354: #00b140;
// $pms-355: #009639;
// $pms-356: #007a33;
// $pms-357: #215732;
// $pms-7478: #9be3bf;
// $pms-7479: #26d07c;
// $pms-7480: #00bf6f;
// $pms-7481: #00b74f;
// $pms-7482: #009f4d;
// $pms-7483: #275d38;
// $pms-7484: #00573f;
// $pms-7730: #4b9560;
// $pms-7731: #228848;
// $pms-7732: #007a3e;
// $pms-7733: #007041;
// $pms-7734: #286140;
// $pms-7735: #36573b;
// $pms-7736: #395542;
// $pms-7737: #6ba539;
// $pms-7738: #48a23f;
// $pms-7739: #319b42;
// $pms-7740: #3a913f;
// $pms-7741: #44883e;
// $pms-7742: #4a773c;
// $pms-7743: #44693d;
// $pms-358: #addc91;
// $pms-359: #a1d884;
// $pms-360: #6cc24a;
// $pms-361: #43b02a;
// $pms-362: #509e2f;
// $pms-363: #4c8c2b;
// $pms-364: #4a7729;
// $pms-7485: #d0debb;
// $pms-7486: #bce194;
// $pms-7487: #8edd65;
// $pms-7488: #78d64b;
// $pms-7489: #74aa50;
// $pms-7490: #719949;
// $pms-7491: #79863c;
// $pms-365: #c2e189;
// $pms-366: #b7dd79;
// $pms-367: #a4d65e;
// $pms-368: #78be20;
// $pms-369: #64a70b;
// $pms-370: #658d1b;
// $pms-371: #546223;
// $pms-372: #d4eb8e;
// $pms-373: #cdea80;
// $pms-374: #c5e86c;
// $pms-375: #97d700;
// $pms-376: #84bd00;
// $pms-377: #7a9a01;
// $pms-378: #59621d;
// $pms-580: #c4d6a4;
// $pms-579: #bcd19b;
// $pms-578: #b7ce95;
// $pms-577: #a9c47f;
// $pms-576: #789d4a;
// $pms-575: #67823a;
// $pms-574: #4e5b31;
// $pms-5807: #d0d1ab;
// $pms-5797: #c6c89b;
// $pms-5787: #babd8b;
// $pms-5777: #a2a569;
// $pms-5767: #8a8d4a;
// $pms-5757: #6d712e;
// $pms-5747: #3d441e;
// $pms-5875: #d2ce9e;
// $pms-5865: #cbc793;
// $pms-5855: #c0bb87;
// $pms-5845: #afa96e;
// $pms-5835: #a09958;
// $pms-5825: #89813d;
// $pms-5815: #555025;
// $pms-5803: #c3c6a8;
// $pms-5793: #b3b995;
// $pms-5783: #a3aa83;
// $pms-5773: #899064;
// $pms-5763: #737b4c;
// $pms-5753: #5e6738;
// $pms-5743: #3e4827;
// $pms-7492: #bfcc80;
// $pms-7493: #bbc592;
// $pms-7494: #9caf88;
// $pms-7495: #8f993e;
// $pms-7496: #76881d;
// $pms-7497: #7a7256;
// $pms-7498: #5b6236;
// $pms-7744: #babc16;
// $pms-7745: #abad23;
// $pms-7746: #999b30;
// $pms-7747: #888d30;
// $pms-7748: #7c8034;
// $pms-7749: #727337;
// $pms-7750: #656635;
// $pms-379: #e2e868;
// $pms-380: #dbe442;
// $pms-381: #cedc00;
// $pms-382: #c4d600;
// $pms-383: #a8ad00;
// $pms-384: #949300;
// $pms-385: #787121;
// $pms-386: #e9ec6b;
// $pms-387: #e3e935;
// $pms-388: #e0e721;
// $pms-389: #d0df00;
// $pms-390: #b5bd00;
// $pms-391: #9a9500;
// $pms-392: #827a04;
// $pms-587: #e3e48d;
// $pms-586: #e0e27c;
// $pms-585: #dbde70;
// $pms-584: #d2d755;
// $pms-583: #b7bf10;
// $pms-582: #8e8c13;
// $pms-581: #625d20;
// $pms-393: #f0ec74;
// $pms-394: #ede939;
// $pms-395: #ece81a;
// $pms-396: #e1e000;
// $pms-397: #bfb800;
// $pms-398: #ada400;
// $pms-399: #a09200;
// $pms-3935: #f3ea5d;
// $pms-3945: #f3e500;
// $pms-3955: #efdf00;
// $pms-3965: #eedc00;
// $pms-3975: #bba600;
// $pms-3985: #9a8700;
// $pms-3995: #685c20;
// $pms-600: #f1eb9c;
// $pms-601: #f0e991;
// $pms-602: #f0e87b;
// $pms-603: #ede04b;
// $pms-604: #eada24;
// $pms-605: #e1cd00;
// $pms-606: #cfb500;
// $pms-607: #ebe49a;
// $pms-608: #e9e186;
// $pms-609: #e6de77;
// $pms-610: #e1d555;
// $pms-611: #d7c826;
// $pms-612: #c4b000;
// $pms-613: #b39b00;
// $pms-461: #e9df97;
// $pms-460: #e4d77e;
// $pms-459: #decd63;
// $pms-458: #d9c756;
// $pms-457: #b89d18;
// $pms-456: #a28e2a;
// $pms-455: #695b24;
// $pms-614: #dcd59a;
// $pms-615: #d6cf8d;
// $pms-616: #d0c883;
// $pms-617: #c0b561;
// $pms-618: #ac9f3c;
// $pms-619: #9f912a;
// $pms-620: #8a7b19;
// $pms-7751: #cab64b;
// $pms-7752: #cfb023;
// $pms-7753: #c1a01e;
// $pms-7754: #a08629;
// $pms-7755: #897630;
// $pms-7756: #736635;
// $pms-7757: #675e33;
// $pms-7758: #d4c304;
// $pms-7759: #c4b200;
// $pms-7760: #91852c;
// $pms-7761: #747136;
// $pms-7762: #5d6439;
// $pms-7763: #585c3b;
// $pms-7764: #535435;
// $pms-7765: #bbb323;
// $pms-7766: #b4a91f;
// $pms-7767: #aa9d2e;
// $pms-7768: #8f7e35;
// $pms-7769: #716135;
// $pms-7770: #635939;
// $pms-7771: #4e4934;
// $pms-4545: #d5cb9f;
// $pms-4535: #cfc493;
// $pms-4525: #c5b783;
// $pms-4515: #b3a369;
// $pms-4505: #998542;
// $pms-4495: #8c7732;
// $pms-4485: #614f25;
// $pms-454: #cac7a7;
// $pms-453: #bfbb98;
// $pms-452: #b0aa7e;
// $pms-451: #9b945f;
// $pms-450: #594a25;
// $pms-449: #524727;
// $pms-448: #4a412a;
// $pms-7499: #f1e6b2;
// $pms-7500: #dfd1a7;
// $pms-7501: #d9c89e;
// $pms-7502: #ceb888;
// $pms-7503: #a89968;
// $pms-7504: #94795d;
// $pms-7505: #816040;
// $pms-468: #ddcba4;
// $pms-467: #d3bc8d;
// $pms-466: #c6aa76;
// $pms-465: #b9975b;
// $pms-464: #8b5b29;
// $pms-463: #744f28;
// $pms-462: #5c462b;
// $pms-7506: #efdbb2;
// $pms-7507: #fcd299;
// $pms-7508: #e1b87f;
// $pms-7509: #d6a461;
// $pms-7510: #c6893f;
// $pms-7511: #b77729;
// $pms-7512: #a6631b;
// $pms-719: #edc8a3;
// $pms-720: #e7b78a;
// $pms-721: #dda46f;
// $pms-722: #c88242;
// $pms-723: #b36924;
// $pms-724: #934d11;
// $pms-725: #7d3f16;
// $pms-475: #f3cfb3;
// $pms-474: #f1c6a7;
// $pms-473: #f0bf9b;
// $pms-472: #e59e6d;
// $pms-471: #b86125;
// $pms-470: #a45a2a;
// $pms-469: #693f23;
// $pms-726: #e0c09f;
// $pms-727: #d9b48f;
// $pms-728: #cda077;
// $pms-729: #b58150;
// $pms-730: #9e652e;
// $pms-731: #774212;
// $pms-732: #623412;
// $pms-4685: #e0c6ad;
// $pms-4675: #dcbfa6;
// $pms-4665: #cda788;
// $pms-4655: #bf9474;
// $pms-4645: #ad7c59;
// $pms-4635: #946037;
// $pms-4625: #4f2c1d;
// $pms-7513: #e1b7a7;
// $pms-7514: #d5a286;
// $pms-7515: #c58b68;
// $pms-7516: #99552b;
// $pms-7517: #85431e;
// $pms-7518: #6d4f47;
// $pms-7519: #5e4b3c;
// $pms-4755: #d7c4b7;
// $pms-4745: #cdb5a7;
// $pms-4735: #c0a392;
// $pms-4725: #ae8a79;
// $pms-4715: #956c58;
// $pms-4705: #7c4d3a;
// $pms-4695: #5b3427;
// $pms-482: #dbc8b6;
// $pms-481: #d3bba8;
// $pms-480: #c6a992;
// $pms-479: #aa8066;
// $pms-478: #703f2a;
// $pms-477: #623b2a;
// $pms-476: #4e3629;
// $pms-7527: #d6d2c4;
// $pms-7528: #c5b9ac;
// $pms-7529: #b7a99a;
// $pms-7530: #a39382;
// $pms-7531: #7a6855;
// $pms-7532: #63513d;
// $pms-7533: #473729;
// $pms-7534: #d1ccbd;
// $pms-7535: #b7b09c;
// $pms-7536: #a69f88;
// $pms-7537: #a7aca2;
// $pms-7538: #949a90;
// $pms-7539: #8e9089;
// $pms-7540: #4b4f54;
// $pms-427: #d0d3d4;
// $pms-428: #c1c6c8;
// $pms-429: #a2aaad;
// $pms-430: #7c878e;
// $pms-431: #5b6770;
// $pms-432: #333f48;
// $pms-433: #1d252d;
// $pms-420: #c7c9c7;
// $pms-421: #b2b4b2;
// $pms-422: #9ea2a2;
// $pms-423: #898d8d;
// $pms-424: #707372;
// $pms-425: #54585a;
// $pms-426: #25282a;
// $pms-441: #bec6c4;
// $pms-442: #a2acab;
// $pms-443: #919d9d;
// $pms-444: #717c7d;
// $pms-445: #505759;
// $pms-446: #3f4444;
// $pms-447: #373a36;
// $pms-413: #babbb1;
// $pms-414: #a8a99e;
// $pms-415: #919388;
// $pms-416: #7e7f74;
// $pms-417: #65665c;
// $pms-418: #51534a;
// $pms-419: #212322;
// $pms-400: #c4bfb6;
// $pms-401: #afa9a0;
// $pms-402: #9d968d;
// $pms-403: #8c857b;
// $pms-404: #776e64;
// $pms-405: #696158;
// $pms-406: #c4bcb7;
// $pms-407: #b2a8a2;
// $pms-408: #978c87;
// $pms-409: #857874;
// $pms-410: #746661;
// $pms-411: #5e514d;
// $pms-412: #382f2d;
// $pms-434: #d0c4c5;
// $pms-435: #c1b2b6;
// $pms-436: #ab989d;
// $pms-437: #7b6469;
// $pms-438: #584446;
// $pms-439: #453536;
// $pms-440: #382e2c;
// $pms-Warm-Gray-1: #d7d2cb;
// $pms-Warm-Gray-2: #cbc4bc;
// $pms-Warm-Gray-3: #bfb8af;
// $pms-Warm-Gray-4: #b6ada5;
// $pms-Warm-Gray-5: #aca39a;
// $pms-Warm-Gray-6: #a59c94;
// $pms-Warm-Gray-7: #968c83;
// $pms-Warm-Gray-8: #8c8279;
// $pms-Warm-Gray-9: #83786f;
// $pms-Warm-Gray-10: #796e65;
// $pms-Warm-Gray-11: #6e6259;
// $pms-Cool-Gray-1: #d9d9d6;
// $pms-Cool-Gray-2: #d0d0ce;
// $pms-Cool-Gray-3: #c8c9c7;
// $pms-Cool-Gray-4: #bbbcbc;
// $pms-Cool-Gray-5: #b1b3b3;
// $pms-Cool-Gray-6: #a7a8aa;
// $pms-Cool-Gray-7: #97999b;
// $pms-Cool-Gray-8: #888b8d;
// $pms-Cool-Gray-9: #75787b;
// $pms-Cool-Gray-10: #63666a;
$pms-Cool-Gray-11: #53565a;
// $pms-Black-2: #332f21;
// $pms-Black-3: #212721;
// $pms-Black-4: #31261d;
// $pms-Black-5: #3e2b2e;
// $pms-Black-6: #101820;
// $pms-Black-7: #3d3935;
/*! endof PMS colors */

/*! endof COLOUR DEFINITIONS */
