a:default,
a:link,
a:visited {
  color: $anchor-color-default;
  text-decoration: underline;
  -webkit-text-decoration-color: $anchor-color-default-underline-unfocused; /* Safari */
     -moz-text-decoration-color: $anchor-color-default-underline-unfocused; /* Firefox */
        o-text-decoration-color: $anchor-color-default-underline-unfocused; /* Opera */
          text-decoration-color: $anchor-color-default-underline-unfocused;
}
a:hover, a:focus {
/*  background-color: $buff-color-brightest; */
  -webkit-text-decoration-color: $anchor-color-default-underline-focused; /* Safari */
     -moz-text-decoration-color: $anchor-color-default-underline-focused; /* Firefox */
        o-text-decoration-color: $anchor-color-default-underline-focused; /* Opera */
          text-decoration-color: $anchor-color-default-underline-focused;
}
.sidebar a {
  color: $buff-color-normal;
  text-decoration: none;
  -webkit-text-decoration-color: $buff-color-normal; /* Safari */
     -moz-text-decoration-color: $buff-color-normal; /* Firefox */
        o-text-decoration-color: $buff-color-normal; /* Opera */
          text-decoration-color: $buff-color-normal;
}
