// Tables
//
// Table properties.

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;
  background-color: $table-background-color;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid $table-border-color;
}

th {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: $tr-background-color-odd;
}
tr:nth-child(even) {
  background-color: $tr-background-color-even;
}

tr.row-header {
  background-color: $white-color;
  bgcolor: $white-color ;
}

tr.row-footer {
  background-color: $white-color;
  bgcolor: $white-color ;
}

tr.row-category  {
  background-color: $white-color;
  bgcolor: $white-color ;
}

td.data-title { 
  font-weight: bold;
  width: 25%;
}

td.data-description { 
  width: 45%;
}

td.data-proficiency { 
  background-color: $td-proficiency-unknown;
  width: 15%;
}

td.data-tags { 
  width: 15%;
}

caption.main, 
caption.other {
  text-align: left;
}