// Tables
//
// Table properties.

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid $table-border-color;
  border-collapse: collapse;
  background-color: $table-background-color;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid $table-border-color;
}

th {
  text-align: left;
}

tbody tr:nth-child(even) td,
tbody tr:nth-child(even) th {
  background-color: $tr-background-color-even;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $tr-background-color-odd;
}


th.header {
  bgcolor: #555555;
}

td.data-footer {
  bgcolor: #000000;
}

tr.data-category, 
tr.data-subcategory, 
tr.data-aspect { 
  bgcolor: inherit;
}

tr.data-category  {
  bgcolor: inherit;
}

tr.data-subcategory { 
  bgcolor: inherit;
}

tr.data-aspect { 
  bgcolor: inherit;
}

td.data-proficiency { 
  bgcolor: #666;
}

