/* Gold & Blue*/
.theme-base-0goldblue .sidebar {
  background-color: #dda200;
}
.theme-base-0goldblue .content a,
.theme-base-0goldblue .related-posts li a:hover {
  color: #02e;
}

/* Gold */
.theme-base-0gold .sidebar {
  background-color: #dda200;
}
.theme-base-0gold .content a,
.theme-base-0gold .related-posts li a:hover {
  color: #dda200;
}

.rounded-border-6 {
  border-radius: 6px;
}
