---
layout: default
---
<article class="glossary">
 <h1 class="page-title">{{ page.title }}</h1>
{% for glossary in site.glossary %}
<div class="message">
<h3>
{{ glossary.title }}
</h3>
<h6>
{% if glossary.categories %}Category: {{ glossary.categories }}{% endif %}
</h6>
<p>
{{ glossary.description }}
</p>
<strong>
More information:
</strong>{% for an_url in glossary.more_info_urls %}
<a href="{{ an_url.url }}">
{{ an_url.sitename }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
</div>
{% endfor %}
{{ content }}
</article>
